<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html"  charset="UTF-8">
    <title>Update news</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}/edit(id=${news.getNews().getId()})}" th:object="${news}">
    <label for="title">[[#{title}]] </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
    <br/>

    <label for="date">[[#{date}]] </label>
    <input type="date" th:field="*{date}" id="date"/>
    <div style="color:red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</div>
    <br/>

    <label for="brief">[[#{brief}]]  </label>
    <textarea th:field="*{brief}" id="brief"></textarea>
    <div style="color:red" th:if="${#fields.hasErrors('brief')}" th:errors="*{brief}"> Brief Error</div>
    <br/>

    <label for="content">[[#{content}]] </label>
    <textarea th:field="*{content}" id="content"></textarea>
    <div style="color:red" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</div>
    <br/>

    <button type="submit" value="save">[[#{save}]]</button>
</form>

</body>
</html>