<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>All news</title>
</head>
<body>
<header th:insert="admin/header.html :: header"> </header>


<form th:method="DELETE" th:action="@{/admin}">

<div th:each="news : ${all_news}">
    <div>
        Id: <p th:text="${news.getNews().getId()}">Id</p>
        <h2 th:text="${news.getTitle()}">[[#{title}]]</h2>
        <p th:text="${news.getBrief()}">[[#{brief}]]</p>
        <p th:text="${news.getDate()}">[[#{date}]]</p>

        <a th:href="@{/admin/{id}(id=${news.getNews().getId()})}">[[#{view}]]</a>
        <a th:href="@{/admin/{id}/edit(id=${news.getNews().getId()})}">[[#{edit}]]</a>

        <input type="checkbox" name="ids" th:value="${news.id}">
    </div>
    </br>

</div>
    <button type="submit" th:data-confirm-delete="|Are you sure you want to delete news?|"
            onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false" >[[#{delete}]]</button>
</form>
<br/>

</body>
</html>