<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New news</title>
</head>
<body>
<header th:insert="admin/header.html :: header"> </header>

<form th:method="POST" th:action="@{/admin/new}" th:object="${news}">
    <label for="newsId"> If the news already exist in other language, enter news ID.
        Otherwise, keep the field blank</label>
    <input type="text" name="newsId" id="newsId"/>

    <br/>
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
    <br/>

    <label for="date">Enter date: </label>
    <input type="date" th:field ="*{date}" id="date" />
    <div style="color:red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</div>
    <br/>

    <label for="brief">Enter brief: </label>
    <input type="text" th:field="*{brief}" id="brief"/>
    <div style="color:red" th:if="${#fields.hasErrors('brief')}" th:errors="*{brief}">Brief Error</div>
    <br/>

    <label for="content">Enter content: </label>
    <input type="text" th:field="*{content}" id="content"/>
    <div style="color:red" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</div>
    <br/>

    <input type="submit" value="Create!"/>
</form>

</body>
</html>