<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<header th:insert="admin/header.html :: header"> </header>

<h3>[[#{title}]]</h3>
<p th:text="${news.getTitle()}">VALUE</p>

<h3>[[#{date}]]</h3>
<p th:text="${news.getDate()}">VALUE</p>

<h3>[[#{title}]]</h3>
<p th:text="${news.getBrief()}">VALUE</p>

<h3>[[#{content}]]</h3>
<p th:text="${news.getContent()}">VALUE</p>


<a th:href="@{/admin/{id}/edit(id=${news.getNews().getId()})}">[[#{edit}]]</a>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${news.getNews().getId()})}">
    <button type="submit" th:data-confirm-delete="|Are you sure ypu want to delete news?|"
            onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false" >[[#{delete}]]</button>
</form>
</body>
</html>